# Node
frontend/node_modules/
frontend/dist/

# Spring Boot
backend/target/
backend/*.log

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

frontend/stock-frontend/node_modules/
frontend/node_modules/
backend/target/